{% extends "auctions/layout.html" %} {% block body %}
{% comment %} //updating index {% endcomment %}
<div class="activelisting">
<form action="{% url 'categoryWise'%}" method="POST" class="my-3">
  {% csrf_token %}
  
  <select class="form-select" name="category" aria-label="Default select example">
    <option selected>Select Category</option> 
    {% for cate in categories %}
    <option value={{cate}}> {{cate}} </option>
    {% endfor %}
  </select>
  <br>
  <button class="btn btn-primary button-to-left" type="submit">Search</button>
</form>
<h2>Listings</h2>
</div>

{% comment %} <div class="container-fluid"> {% endcomment %}
 
  <div class="row mx-2 my-5">
    {% for product in listings %}
    <div class="column">
      {% comment %} <a href="{% url 'viewProduct' id=product.id %}" class="card-link">  {% endcomment %}
        <div class="card" style="width:13.5rem;height:18rem">
        <img src="{{ product.imageUrl }}" class="card-img-top" height="60%"alt="{{product.name}}" />
        <div class="card-body" id="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">${{product.price.bid}}</h6>
          {% comment %} <p class="card-text">{{product.descript}}</p> {% endcomment %}
         {% comment %} {% if product.id == 4 %} <a href="{% url 'viewProduct' id=product.id %}" class="btn" id="detail">More Details</a> {% endcomment %}
        <a href="{% url 'viewProduct' id=product.id %}" class="detail" id="details">More Details</a>
        {% comment %} {% endif %}   {% endcomment %}
        </div>
        
      </div>
    {% comment %} </a> {% endcomment %}
    </div>
  
 
    {% endfor %}
  </div>

 

  {% endblock %}
</div>
</div>