{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>
<form action="{% url 'categoryWise'%}" method="POST" class="my-3">
  {% csrf_token %}
  
  <select class="form-select" name="category" aria-label="Default select example">
    <option selected>Select Category</option> 
    {% for cate in categories %}
    <option value={{cate}}> {{cate}} </option>
    {% endfor %}
  </select>
  <br>
  <button class="btn btn-primary" type="submit">Search</button>
</form>

{% comment %} <div class="container-fluid"> {% endcomment %}
 
  <div class="row mx-2 my-2">
    {% for product in listings %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card" style="width:13.5rem;height:18rem">
      <img src="{{ product.imageUrl }}" class="card-img-top" height="60%"alt="{{product.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">${{product.price.bid}}</h6>
        {% comment %} <p class="card-text">{{product.descript}}</p> {% endcomment %}
        <a href="{% url 'viewProduct' id=product.id %}" class="btn btn-primary">More Details</a>
      </div>
    </div>
    </div>
  
 
    {% endfor %}
  </div>

 

  {% endblock %}
</div>
</div>