{% extends "auctions/layout.html" %} {% block body %}
<h2>WatchList</h2>


{% comment %} <div class="container-fluid"> {% endcomment %}
  
  <div class="row mx-2 my-2">
    {% for product in listings %}
    
      <div class="card" style="height: 25rem;width:13.5rem">
      <img src="{{ product.imageUrl }}" class="card-img-top" width="100%" height="70%" alt="{{product.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
        <p class="card-text">{{product.decript}}</p>
        <a href="{% url 'viewProduct' id=product.id %}" class="btn btn-primary">More Details</a>
      </div>
    </div>
  
 
    {% endfor %}
  </div>
 

  {% endblock %}
</div>
</div>